[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = See who is your favorite idol
[access "refs/*"]
	owner = group user/Vinicius Moura Longaray (v1nns)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vinicius Moura Longaray (v1nns)
	label-Verified = -1..+1 group user/Vinicius Moura Longaray (v1nns)
	push = group user/Vinicius Moura Longaray (v1nns)
	read = group user/Vinicius Moura Longaray (v1nns)
	rebase = group user/Vinicius Moura Longaray (v1nns)
	removeReviewer = group user/Vinicius Moura Longaray (v1nns)
	submit = group user/Vinicius Moura Longaray (v1nns)
[access "refs/heads/*"]
	create = group user/Vinicius Moura Longaray (v1nns)
	push = +force group user/Vinicius Moura Longaray (v1nns)
	pushMerge = group user/Vinicius Moura Longaray (v1nns)
	read = group user/Vinicius Moura Longaray (v1nns)
[access "refs/tags/*"]
	push = group user/Vinicius Moura Longaray (v1nns)
	push = +force group user/Vinicius Moura Longaray (v1nns)
